.tool.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;

  background-color: aqua;

  max-height: 40%;
  width: 100%;
}

.tool.panel {
  display: grid;
  grid-template-columns: repeat(2, 80px);
  grid-template-rows: repeat(7, 1fr);

  gap: 2px;

  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 70%;

  background-color: rgb(150, 83, 159);

  height: 100%;
}

.color.wrapper {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;

  background-color: blueviolet;

  padding: 16px 0 24px;

  gap: 16px 0;

  width: 100%;
  height: fit-content;
}

#submitColor {
  width: 100px;
  height: 40px;
}

.color.values {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(2, 1fr);

  width: auto;
  height: 50%;
  gap: 4px 0;
}

.color.values .value {
  display: flex;
  flex-direction: row;

  width: 50px;
  height: 20px;

  justify-content: center;
  align-items: stretch;
}

textarea {
  resize: none;
}
